<footer>
    <div class="line col-sm-4">
        <h3 class="col-sm-12 align-center">LET’S BE <b class="color">FRIENDS!</b></h3><br>
        <div class="align-center col-sm-12">
            <img class="col-xs-3 col-sm-4 col-md-2 w3-hover-opacity" src="../../../assets/images/facebook.png" />
            <img class="col-xs-3 col-sm-4 col-md-2 w3-hover-opacity" src="../../../assets/images/instagram.png" />
            <img class="col-xs-3 col-sm-4 col-md-2 w3-hover-opacity" src="../../../assets/images/whatsapp.png" />
        </div>
        <br>
        <P class="Copyright col-sm-12 align-center">Copyright © 2022 liel-hadasa All rights reserved</P>
    </div>
    <div class="col-sm-8">
        <p class="pt float-left">we'll be glad to hear from you...</p>
        <img class="pen float-left" src="../../../assets/images/pen.png" />
        <div class="col-sm-12">
            <form class="form">
                <input placeholder="Name" type="text" class="col-sm-4">
                <input placeholder="Mail" type="text" class="col-sm-7 float-right">
                <textarea placeholder="Message" class="col-sm-12" rows="2"></textarea>
                <input type="submit" value="SEND"/>
            </form>
        </div>
    </div>
</footer>