<div class="row margin-top-100">
    <div class="line col-sm-6">
        <div class="container d-flex justify-content-center">
            <div class="row">
                <div>
                    <div class="stars">
                        <form action="">
                            <input class="star star-5" id="star-5" type="radio" name="star" /> <label
                                class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" name="star" /> <label
                                class="star star-4" for="star-4"></label>
                            <input class="star star-3" id="star-3" type="radio" name="star" /> <label
                                class="star star-3" for="star-3"></label>
                            <input class="star star-2" id="star-2" type="radio" name="star" /> <label
                                class="star star-2" for="star-2"></label>
                            <input class="star star-1" id="star-1" type="radio" name="star" /> <label
                                class="star star-1" for="star-1"></label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 align-center">
        <form class="col-sm-10">
            <input placeholder="Name" type="text" class="col-sm-4">
            <input placeholder="Mail" type="text" class="col-sm-7 float-right">
            <textarea placeholder="Message" class="col-sm-12" rows="2"></textarea>
            <input class="float-right" type="submit" value="SEND" />
        </form>
    </div>
</div>