<div class="margin-top-100">
    <div class="line col-sm-6">
        <div class="align-center">
            <!-- <div class="float-right align-center margin-bottom-50">GET IN TOUCH:</div> -->
            <div class="margin-top-50 col-sm-12 align-center">
                <img class="col-sm-1" src="../../../assets/images/facebook.png" />
                <img class="col-sm-1" src="../../../assets/images/instagram.png" />
                <img class="col-sm-1" src="../../../assets/images/whatsapp.png" />
            </div>
        </div>
    </div>
    <div class="col-sm-6 align-center">
        <!-- <div class="float-right">we'll be glad to hear from you</div> -->
        <!-- <div class="row">
            <img class="col-sm-2" src="../../../assets/images/pen.png" />
        </div> -->
        <div class="col-sm-12 float-right">
            <form class="form">
                <input placeholder="Name" type="text" class="col-sm-4">
                <input placeholder="Mail" type="text" class="col-sm-7 float-right">
                <textarea placeholder="Message" class="col-sm-12" rows="2"></textarea>
                <input class="float-right" type="submit" value="SEND" />
            </form>
        </div>
    </div>
</div>