.align-center{
    margin: auto;
    display: flex;
	align-items: center;
	justify-content: center;
}
input[type=text]:focus ,textarea:focus{
    outline: none;
    border-bottom-color: black;    
}
input[type=text], textarea{
    color: gray;
    background-color: whitesmoke;
    border: none;
    border-bottom: 1px solid #E16F26;
    margin-bottom: 20px;
    border-bottom-color: #E16F26;
}
input[type=submit]{
    background-color: gray;
    border: none;
    color: white;
    text-decoration: none;
    padding: 7px 12px;
    cursor: pointer;
    float: right;
    margin-right: 80px;
}
input[type=submit]:hover{
    background-color: darkgray;
    color: #E16F26;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.line{
    margin-top: 80px;
    border-right: 1px solid black;
}
.padding-top-200{
    padding-top: 200px;
}
.margin-top-50{
    margin-top: 50px;
}
img{
    width: 50px;
}
.r{
    width: 100%;
}
.Copyright{
    font-size: 9px;
    margin-top: 10px;
}
.pen {
    margin: 20px;
}
.pt{
    padding-left: 20px;
    padding-top: 40px;
    font-size: medium;
}
.color{
    color: #E16F26;
}