.align-center{
    margin: auto;
    display: flex;
	align-items: center;
	justify-content: center;
}
input[type=text]:focus ,textarea:focus{
    outline: none;
    border-bottom-color: black;    
}
input[type=text], textarea{
    color: gray;
    background-color: whitesmoke;
    border: none;
    border-bottom: 1px solid #E16F26;
    margin-bottom: 20px;
    border-bottom-color: #E16F26;
}
input[type=submit]{
    background-color: gray;
    border: none;
    color: white;
    text-decoration: none;
    padding: 7px 12px;
    cursor: pointer;
    margin-right: 10px;
}
input[type=submit]:hover{
    background-color: darkgray;
    color: #E16F26;
}
.float-right{
    float: right;
}
.line{
    border-right: 1px solid black;
}
.margin-top-100{
    margin-top: 100px;
}
.margin-top-50{
    margin-top: 50px;
}
.margin-bottom-50{
    margin-bottom: 50px;
    font-size: large;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img{
    width: 50px;
}
