<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-body">
     
      <input id="startDate" (change)="changeDate()" type="date" placeholder="start" [(ngModel)]="startDate">
      <input id="endDate" (change)="changeDate()" type="date" placeholder="end" [(ngModel)]="endDate">
      <button (click)="showRecipeSelect = !showRecipeSelect"> Select Recipes </button>
      <div  *ngIf="showRecipeSelect">
        <ul class="list-group" *ngFor="let item of viewRecipes;">
          <li class="list-group-item list-group-item-action list-group-item-light">
            <div class="custom-control custom-checkbox">
              <input id="as{{item.Code}}"  class="custom-control-input" type="checkbox" [(ngModel)]="item.isChecked"  (change)="createList()" />
              <label class="custom-control-label" for="as{{item.Code}}">  ({{item.Code}}) {{item.RecipeTitle}} - {{item.Date}}</label>
          </div>
          </li>
        </ul>
      </div>
      <ul class="list-group" *ngFor="let item of viewData;">
        <li  class="list-group-item list-group-item-action list-group-item-light row">
          <input class="cl" type="checkbox" [value]="item.code" (change)="ProductCheckbox($event)" />

          <img class="cl" src="https://spoonacular.com/cdn/ingredients_500x500/{{item.ProductImage}}" />

          <div class="col-sm-4 cl"><h4>{{item.ProductName}}</h4> </div>
          <div class="col-sm-3 cl">
            <table class="table">
              <tr *ngFor="let unit of item.Units">
                <td>{{unit.Amount}}</td>
                <td>{{unit.Unit}}</td>
              
              </tr>
            </table>
          </div>
          <div class="col-sm-3 cl">
            <button class="recipesB" [value]="item.code" (click)="item.showRecipes = !item.showRecipes">recipes <span class="badge badge-pill badge-primary"> {{item.Recipes.length}} </span></button>
            <table *ngIf="item.showRecipes">
              <tr *ngFor="let r of item.Recipes; index as i">
                <td >
                  <p > ({{r.Code}}). {{r.RecipeTitle}}</p>
                </td>
              </tr>
            </table>
          </div>
         
        </li>

      </ul>
    </div>
  </div>
</div>