.men {
  padding: 20px 0px;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
.l {
  padding: 0;
}
.img_title {
  padding: 0;
  border: 1px solid red;
  height: 100%;
  width: 100%;
}
.img_thumbnail {
  width: auto;
  height: 30px;
  padding: 0;
  margin: 0px auto;
}
.labelR {
  margin: 0px;
  padding: 0;
  font-size: large;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.is {
  background-color: orange;
  color: white;
}
.cl{
  float: left;
}
/* .list-group-flush{
  width: 100%;
} */
.recipesB{
  border: none;
  border-bottom: 1px;
  background-color: whitesmoke;
}
.recipesB:hover {
  text-decoration: underline;
  border: none;
}
.imgP {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
input{
  padding: 8px;
  margin: 8px;
}
/* li{
  background-color: whitesmoke;
} */
.tdR {
  margin: 2px 0px;
}
.tdR:hover p {
  text-decoration: underline;
} 
a:hover label {
  text-decoration: underline;
}
p {
  color: #5e5873;
}
.btns {
  padding: 10px;
  padding-right: 30px;
}
.btnlg {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  float: right;
}
.btnlg:hover {
  background-color: #ddd;
}

.btnlg.active {
  background-color: #666;
  color: white;
}
@media print {
  #selectButton, .recipesB, .tdR {
    display: none;
  }
}
/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */