.cl{
    float: left;
}
.cr{
  float: right;
}
.list-group-flush{
  width: 100%;
}
input{
  padding: 8px;
  margin: 8px;
}
.recipesB{
  border: none;
  border-bottom: 1px;
  background-color: whitesmoke;
}
li{
  background-color: whitesmoke;
}