<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-body">
      <input id="startDate" (change)="logPage()" type="date" placeholder="start" [(ngModel)]="startDate">
      <input id="endDate" (change)="logPage()" type="date" placeholder="end" [(ngModel)]="endDate">

      <ul class="list-group" *ngFor="let item of viewData;">
        <li class="list-group-item list-group-item-action list-group-item-light row">
          <div class="col-sm-4 cl">{{item.name}} </div>
          <div class="col-sm-4 cl">{{item.amount}} {{item.unit}}</div>
          <button type="button">recipes</button>
          <div class="col-sm-4 cl" *ngFor="let r of item.recipes;">
            <p> {{r}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>