<!-- BEGIN: Header-->
<nav class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow">
    <div class="navbar-container d-flex content">
        <div class="bookmark-wrapper d-flex align-items-center">
            <!-- open/close side nav -->
            <ul class="nav navbar-nav d-xl-none">
                <li class="nav-item"><a class="nav-link menu-toggle" href="javascript:void(0);"><i class="ficon icon"
                            data-feather="menu"></i></a></li>
            </ul>
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item d-lg-block mn logo-li" style="opacity: 0.8; padding: 0;">
                    <a routerLink="/site" class="nav-link" title="Dashboard">
                        <img src="../../../assets/images/logo/logo1.png" width="80px">
                    </a>
                </li>
                <li class="nav-item d-lg-block mn">
                    <a routerLink="/site" class="nav-link" title="Dashboard">
                        <i class="fa fa-home icon home"></i><span class="d-s-none">Home</span></a>
                </li>
                <li class="nav-item d-lg-block mn">
                    <a routerLink="/site/home" class="nav-link" title="Meal planner"><i
                            class="fa fa-calendar icon"></i><span class="d-s-none"> Meal
                            Planner</span></a>
                </li>
                <li class="nav-item d-lg-block mn"><a routerLink="/site/ingredients" class="nav-link"
                        title="Your ingredients list to the next week"><i class="fa fa-list icon"></i><span
                            class="d-s-none"> Shopping List</span></a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav align-items-center ml-auto">
            <li id="saved" class="nav-item dropdown dropdown-cart mr-25"><a class="nav-link" href="javascript:void(0)"
                    data-toggle="dropdown"><i class="fa fa-heart-o icon"></i><span *ngIf="saved.numSaved!=0"
                        class="badge badge-pill badge-danger badge-up">{{saved.numSaved}}</span></a>
                <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right saved-menu">
                    <li class="dropdown-menu-header">
                        <div class="dropdown-header d-flex">
                            <h3 class="notification-title mb-0 mr-auto">My Favorites</h3>
                            <div class="badge badge-pill nums">{{saved.numSaved}} Items</div>
                        </div>
                    </li>
                    <li class="scrollable-container media-list">
                        <div class="row empty" *ngIf="saved.numSaved==0">
                            <img class="col-sm-6 img-h" src="../../../assets/images/broken-heart-2040374-1722196.png">
                            <h4 class="col-sm-12">Your Favorites is Empty.</h4>
                        </div>
                        <div class="media align-items-center row" *ngFor="let s of saved.savedRecipes">
                            <a class="col-sm-10 ap" href="/site/showDetails/{{s.Id}}"><img
                                    class="col-sm-4 d-block rounded mr-1 " src="{{s.Image}}" width="70">
                                <h3 class="cart-item-title col-sm-7">
                                    {{s.Title}}</h3>
                            </a>
                            <h5 class="cart-item-price col-sm-2" (click)="handleRemove(s.Id)"><i
                                    class="fa fa-trash-o icon"></i></h5>
                        </div>
                    </li>
                    <li class="dropdown-menu-footer">
                        <div class="d-flex justify-content-between mb-1">
                        </div><a class="btn btn-block to" href="/site/savedRecipes">See More</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown dropdown-user"><a class="nav-link dropdown-toggle dropdown-user-link"
                    id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="fa-solid fa-user-large icon"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-user">
                    <div class="mail" style="width: 100%;">{{user ? user : 'Log In/Register'}}</div>
                    <div class="dropdown-divider"></div>
                    <a *ngIf="user" class="dropdown-item log" (click)="logOut()"><i class="fa fa-sign-out mr-50"
                            data-feather="log-out"></i> Logout</a>
                    <a *ngIf="!user" class="dropdown-item log" routerLink="/auth/login"><i class="mr-50 fa fa-sign-in"
                            data-feather="log-in"></i> Login</a>
                    <a *ngIf="!user" class="dropdown-item log" routerLink="/auth/signup"><i
                            class="mr-50 fa fa-user-plus" data-feather="log-in"></i> Register</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- END: Header-->

<!-- BEGIN: Content-->
<router-outlet></router-outlet>
<!-- END: Content-->

<!-- BEGIN: Footer-->
<app-footer></app-footer>
<button id="bst" class="btn btn-icon scroll-top to" type="button" (click)="scrollTop()"><i
        data-feather="arrow-up"></i></button>
<!-- END: Footer-->