@media screen and (max-width: 600px) {
    .d-s-none {
        display: none;
    }
}
.log:hover {
    color: orange;
    background-color: gainsboro;
}
.icon {
    color: orange;
    cursor: pointer;
    font-size: x-large;
}
.home {
    font-size: xx-large;
}
.mail {
    font-weight: bold;
    display: block;
    padding: 0.65rem 1.28rem;
}

.mn {
    margin: auto 2px 0px;
}

a:hover {
    background-color: white;
}

a:focus {
    background-color: white;
}

.to {
    background-color: orange;
    border-color: orange;
    color: white;
}
.nums {
    background-color: inherit;
    color: orange;
}
/* .saved-menu {
    display: none;
}
#saved:hover .saved-menu {
    display: block;
} */
.ap {
    margin: auto;
    background-color: inherit;
}
.ap:hover {
    background-color: inherit;
}
.cart-item-title:hover {
    color: orange;
}
.dropdown-menu-footer .to:hover {
    background-color: orange;
    opacity: 0.5;
}
.cart-item-price {
    float: right;
}
.empty {
    padding: 20px;
    text-align: center;
}
.img-h {
    margin: auto;
}
