@media screen and (max-width: 600px) {
    .d-s-none {
        display: none;
    }
}

.icon {
    color: orange;
    cursor: pointer;
    font-size: x-large;
    margin: 3px;
}

.mail {
    font-weight: bold;
    display: block;
    padding: 0.65rem 1.28rem;
}

.mn:active {
    background-color: orange; color: orange;
}