* {
    box-sizing: border-box;
}

.row {
    background-color: #6e6b7b05;
    padding: 10px;
    margin: 20px;
    display: table;
}

.headers {
    font-family: "cursive";
    font-weight: bold;
    font-size: 4vw;
    text-transform: capitalize;
    padding: 20px 20px;
    margin-top: 10px;
    line-height: 1.2;
}

.sub {
    font-size: 3vw;
}
@media screen and (max-width: 700px) {
    .headers {
      font-size: 7vw;
    }
    .sub {
        font-size: 5vw;
    }
}

.sum {
    padding: 20px;
    word-spacing: 2px;
    line-height: 25px;
    background-color: #6e6b7b0f;
    font-size: medium;
    margin-top: 20px;
}

.sum a {
    color: #E16F26;
}

.savePrint {
    float: right;
}

.sp {
    border: 2px solid #E16F26;
    border-radius: 3px;
    margin: 5px;
    padding: 5px; 
    text-align: center;
    cursor: pointer;
    color: black;
    float: right;
}

.icon {
    margin: 2px auto;
    color: #E16F26;
    font-size: large;
}

.sp:hover {
    background-color: #e16f266e;
} 

.imgR {
    padding: 30px 0px 0px;
}

.infoR {
    border: 2px solid rgba(0,0,0,.15);
    border-radius: 4px;
    display: inline-block;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
    text-align: left;
    margin: 30px auto;
}

.prop {
    margin: 10px auto;
    display: flex;
}

.prop .icon {
    font-size: x-large;
    margin: 5px;
}

.subT {
    font-weight: bold;
    padding: 0px 3px;
    margin: auto 0px;
}

.con {
    font-weight: normal;
}

.ingr {
    text-align: center;
    color: black;
    float: left;
    margin: 10px auto;
    height: 180px;
}

.ingr h3 {
    font-weight: bold;
}

.iImg {
    width: 80px;
    height: 80px;
    margin: 5px;
}

.ol {
    letter-spacing: .5px;
    list-style: none;
    line-height: 250%; 
}

li {
    margin-bottom: 20px;
}
label:first-child {
    margin: 0px auto 10px;
}

label {
    margin: 20px auto;
    font-size: large;
    font-weight: bold;
}

.is {
    background-color: #E16F26;
    color: white;
}

@media print {
    .savePrint {
      display: none;
    }
}