
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <button class="bb" (click)="goBack()"><i class="glyphicon glyphicon-arrow-right"></i></button>
            <div>
                <img src="{{cardRecipe}}">
                <!-- <h2 style="font-weight: bold;">{{showRecipe?.title}}</h2>
                <img src="{{showRecipe?.image}}">
                <div [innerHTML]="showRecipe?.summary" style="float: right;"></div> -->
            </div>
        </div>
    </div>
</div>