<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="col-sm-12 heart">
                <i *ngIf="!addedToSavedList" class="far fa-heart float-left" (click)="handleAdd()"
                    title="Add to Your Favorites"></i>
                <i *ngIf="addedToSavedList" class="fas fa-heart float-left" (click)="handleRemove()"
                    title="Remove from Your Favorites"></i>
            </div><br>
            <h1 class="col-sm-12 headers">{{showRecipe?.title}}</h1>
            <div class="row">
                <div class="col-sm-2 empty">&nbsp;</div>
                <div class="col-sm-8 col-m-12" style="margin: auto;">
                    <div class="creditImage">
                        <img class="imgR" src="https://spoonacular.com/recipeImages/{{showRecipe?.id}}-636x393.jpg"
                            title="{{showRecipe?.title}}">
                        <span class="credit">Image © <a href="{{showRecipe?.sourceUrl}}" target="_blank"
                                itemprop="author">{{showRecipe?.creditsText}}</a>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2 col-m-hide">&nbsp;</div>
            </div>
            <div class="col-sm-12 row">
                <div class="divP empty">&nbsp;</div>
                <div class="divP">
                    <br>
                    for {{showRecipe?.servings}} servings</div>
                <div class="divP">
                    <i class="fa-duotone fa-timer"></i><br>
                    Ready in {{showRecipe?.readyInMinutes}} minutes</div>
                <div class="divP">{{showRecipe?.aggregateLikes}} likes</div>
                <div class="divP">Score: {{showRecipe?.spoonacularScore}}%</div>
                <div class="divP empty">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <i *ngIf="!addedToSavedList" class="far fa-heart" (click)="handleAdd()" title="Add to Your Favorites"></i>
            <i *ngIf="addedToSavedList" class="fas fa-heart"  (click)="handleRemove()" title="Remove from Your Favorites"></i> 
            <div class="col-12">
                <h1 class="col-12 headers">{{showRecipe?.title}}</h1>
                <div class="col-12 divimg">
                    <img src="https://spoonacular.com/recipeImages/{{showRecipe?.id}}-636x393.jpg">
                    <span class="credit">Image © <a href="http://www.foodista.com/recipe/LKK4YVLR/kadaifi" target="_blank" itemprop="author">{{showRecipe?.creditsText}}</a></span>
                </div>
                
                <h5 class="headers">for {{showRecipe?.servings}} servings ~ ready in {{showRecipe?.readyInMinutes}}
                    minutes</h5>
                <div class="summary" [innerHTML]="showRecipe?.summary"></div>
                <div class="ul">
                    <div class="col-sm-4">
                        <h3>ingredients:</h3>
                        <ul>
                            <li *ngFor="let item of showRecipe?.extendedIngredients">{{item.original}}</li>
                        </ul>
                    </div>
                    <div class="col-sm-8">
                        <h3>instructions:</h3>
                        <ol>
                            <li *ngFor="let item of showRecipe?.analyzedInstructions[0].steps">{{item.step}}</li>
                        </ol>
                    </div>
                </div>
                <p class="col-sm-12 credit">&#169; {{showRecipe?.creditsText}}</p>
            </div>
        </div>
    </div>
</div> -->