* {
    box-sizing: border-box;
}

.row {
    background-color: rgb(255, 255, 247);
    padding: 10px;
    margin: 20px;
    display: table;
}

.headers {
    font-family: "cursive";
    font-weight: bold;
    font-size: 44px;
    text-transform: capitalize;
    padding: 20px 20px;
    margin-top: 10px;
}

.sub {
    font-size: 32px;
}

.sum {
    padding: 20px;
    word-spacing: 2px;
    line-height: 25px;
    background-color: white;
    font-size: medium;
}

.savePrint {
    float: right;
}

.sp {
    border: 2px solid orange;
    border-radius: 3px;
    margin: 5px;
    padding: 5px; 
    text-align: center;
    cursor: pointer;
    color: black;
    float: right;
}

.icon {
    margin: 2px auto;
    color: orange;
    font-size: large;
}

.sp:hover {
    background-color: rgb(248, 228, 191);
} 

.imgR {
    padding: 30px 0px 0px;
}

.infoR {
    border: 2px solid rgba(0,0,0,.15);
    border-radius: 4px;
    display: inline-block;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
    text-align: left;
    margin: 30px 20px;
}

.prop {
    margin: 10px auto;
}

.prop .icon {
    font-size: x-large;
    margin: 5px;
}

.subT {
    font-weight: bold;
    padding: 0px 3px;
}

.ingr {
    text-align: center;
    color: black;
    float: left;
    margin: 10px auto;
}

.ingr h3 {
    font-weight: bold;
}

.iImg {
    width: 80px;
    height: 80px;
    margin: 5px;
}

.ol {
    letter-spacing: .5px;
    list-style: none;
    line-height: 250%; 
}

li {
    margin-bottom: 20px;
}
label:first-child {
    margin: 0px auto 10px;
}

label {
    margin: 20px auto;
    font-size: large;
    font-weight: bold;
}

.is {
    background-color: orange;
    color: white;
}