<div class="card-body">
    <a routerLink="/" class="brand-logo">
        <img src="../../../assets/images/logo/logo.png" width="100px">
        <h1 class="brand-text ml-1 quili t">Login</h1>
    </a>

    <h4 class="card-title mb-1 t">Welcome to Quili!</h4>
    <p class="card-text mb-2 t">Please log-in to your account and start the adventure.</p>

    <form class="auth-login-form mt-2" method="POST" #myForm="ngForm">
        <div class="form-group">
            <label for="login-email" class="form-label">Email</label>
            <input [(ngModel)]="user.Mail" type="email" class="form-control" id="login-email"
                placeholder="john@example.com" name="email" [email]="true" required #email="ngModel">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                <label class="valid" *ngIf="email.errors?.email">
                    Email not valid.
                </label>
                <label class="valid" *ngIf="email.errors?.['required']">
                    Email is required.
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="login-password">Password</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle div-p">
                <input #x [(ngModel)]="user.Password" type="password" class="form-control form-control-merge"
                    id="login-password" placeholder="Enter password" name="pswd" required #password="ngModel">

                <div class="input-group-append" (click)="x.type=x.type=='password'?'text':'password'">
                    <span class="input-group-text cursor-pointer">
                        <i [ngClass]="(x.type=='password')?'fa fa-eye':'fa fa-eye-slash'"></i>
                    </span>
                </div>
            </div>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
                <label class="valid" *ngIf="password.errors?.['required']">
                    Password is required.
                </label>
            </div>
            <button type="submit" class="btn btn-block button-q" (click)="LogIn()" [disabled]="!myForm.valid">Log in</button>
        </div>
    </form>

    <p class="text-center mt-2">
        <span>New on our platform?</span>
        <a routerLink="/auth/signup">
            <span class="quili"> Create an account</span>
        </a>
    </p>
</div>