* {
    border: 0;
    background-color: white;
}
.card-body {
    padding: 40px 40px 0px;
    box-shadow: none;
}
.card h1 {
    margin: 10px auto;
    font-weight: bold;
}
.quili {
    margin-top: 20px;
    color: #E16F26;
}
.form-control, .input-group .input-group-merge .form-password-toggle {
    background-color: rgb(248, 247, 247);
    box-shadow: none;
    border-radius: 30px;

}
.div-p, .div-p:focus-within {
    border-radius: 60px;
}
.button-q {
    background-color: #E16F26;
    color: white;
    margin: auto;
    margin-top: 30px;
    width: 70%;
    border-radius: 30px;
}
.input-group:focus-within .input-group-append, .custom-control-input {
    border: 0;
}
.t {
    text-align: center;
}
.form-group {
    margin: 10px auto;
}
.valid {
    color: #E16F26;
}
@media screen and (max-width:800px) {
    .card-text {
        display: none;
    }
    .card-body {
        padding: 50px 40px;
    }
}