.slick-slider{
    max-height: 300px;
    height: 300px;
}
.carousel .slick-list{
    min-height: 100%;
    height: 100% !important;
}
.carousel .slick-track{
    min-height: 100%;
    height: 100% !important;
}
.sm-carousel .slick-track{
    min-height: 200px;
    height: 200px !important;
}
.slick-slide, .slide {
    background: no-repeat center 0;
    background-size: cover;
    max-height: 300px;
    height: 300px;
}
.sm-slide{
    background: no-repeat center 0;
    background-size: cover;
    max-height: 200px;
    height: 200px !important;
}
.slick-slide img{
    max-height: 300px;
}
button.slick-prev:before,
button.slick-next {
  color: yellow !important;
  background-color: yellow !important;
}
/* .slick-slide .SlideText{
    position:absolute;
    top: 40px;
    max-width: 50pc;
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 25px;
    max-height: none;
    height: auto;
    text-transform: uppercase;
    color: black;
} */

/* .slick-current .SlideText{
    animation: mymove 0.5s;
    animation-iteration-count: unset;
    animation-delay: 250ms;
    animation-timing-function: linear;
}
@keyframes mymove {
    from {top: 400px;}
    to {top: 40px;}
} */
.margin-20 {
    margin: 20px;
    margin-bottom: 0;
}
.popimg {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 200px;
}
.poptxt {
    font-size: large;
    color: black;
    font: bold;
    padding: 0;
    margin: 0;
    background-color: gray;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
    word-break: keep-all;
    width: 100%;
}
.pop{
    padding: 0;
}
.pop:hover{
    border-right: #E16F26 1px double !important;
    border-bottom: #E16F26 1px double !important;
}
.header {
    padding: 10px;
    text-align: center;
    font-family: "cursive";
    font-weight: bold;
    font-size: 42px;
}
.content {
    padding-top: 50px !important;
    margin-top: 0 !important;
}
.align-center {
    align-items: center !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.color {
    color: #E16F26;
}

