<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of img;" class="slide" [style.background-image]="'url(' +  slide + ')'"></div>
</ngx-slick-carousel>

<div class="app-content content">
    <div class="row">
        <div class="col-sm-1"></div>
        <h2 class="col-sm-7 w3-animate-opacity w3-animate-bottom">
            Welcome to <b class="color w3-hover-opacity">Quili</b> !
            <br>
            <b class="color w3-hover-opacity">Quili</b> allows you to manage orderly meal planning and recipe management
            by dates, from
            planning regular or
            one-time meals from a huge database of recipes to managing your shopping list conveniently and most
            importantly - in a more efficient way.
        </h2>
        <div></div>
    </div>
    <h1 class="header"> <b class="s color"><< </b> Our Favorites</h1>
    <div class="w3-display-topmiddle col-sm-10">
        <ngx-slick-carousel class="sm-carousel" #slickModal="slick-carousel" [config]="popSlideConfig">
            <div class="margin-20 pop w3-hover-opacity" *ngFor="let slide of popList;"
                routerLink="/site/showDetails/{{slide.code}}">
                <div ngxSlickItem class="popimg sm-slide" [style.background-image]="'url(' +  slide.img + ')'">
                </div>
                <div class="poptxt">{{slide.title}}</div>
            </div>
        </ngx-slick-carousel>
    </div>
</div>
<!-- <div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <ngx-slick-carousel class="carousel" 
            #slickModal="slick-carousel" 
            [config]="slideConfig" 
            (init)="slickInit($event)"
            (breakpoint)="breakpoint($event)"
            (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of randomList; let i = index" class="slide"
            [style.background-image]="'url(' +  slide.img  + ')'">
           
            <h1 class="SlideText">{{slide.title}}</h1>
            </div>
            </ngx-slick-carousel>     
            <app-grafico-barras [List]='grafList'></app-grafico-barras> 

        </div>
    </div>
</div> -->