<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of img;" class="slide" [style.background-image]="'url(' +  slide + ')'"></div>
</ngx-slick-carousel>

<div class="app-content content">
    <div class="row">
        <h2 class="col-sm-7 w3-animate-opacity w3-animate-bottom w3-display-topmiddle">
            Welcome to <b class="color w3-hover-opacity">Quili</b> !
            <br>
            <b class="color w3-hover-opacity">Quili</b> allows you to manage orderly meal planning and recipe management
            by dates, from
            planning regular or
            one-time meals from a huge database of recipes to managing your shopping list conveniently and most
            importantly - in a more efficient way.
        </h2>
    </div>
    <h1 class="header"> <b class="s color">
            << </b> Our Favorites</h1>
    <div class="w3-display-topmiddle col-sm-11">
        <ngx-slick-carousel class="sm-carousel" #slickModal="slick-carousel" [config]="popSlideConfig">
            <div class="margin-20 pop w3-hover-opacity" *ngFor="let slide of popList;"
                routerLink="/site/showDetails/{{slide.code}}">
                <div ngxSlickItem class="popimg sm-slide" [style.background-image]="'url(' +  slide.img + ')'">
                </div>
                <div class="poptxt">{{slide.title}}</div>
            </div>
        </ngx-slick-carousel>
    </div>
</div>