a:hover {
    background-color: yellow;
}
.bg-ghostwhite{
    background-color: ghostwhite;
}
.popularrecipes{
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0;
}
.rndImg{
    margin: 0;
    padding: 0;
    float: left;
}
.rndRecipe{
    background-color: white;
    margin: 0;
    padding: 0;
}
.rndTxt{
    height: 180px;
    font-size: 16px;
    line-break: loose;
    text-align: center;
}



