<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <mat-carousel class="col-sm-12" timings="250ms ease-in" [autoplay]="true" interval="7000" color="#00000040"
                maxWidth="auto" proportion="35" slides="9" [loop]="true" [hideArrows]="false" [hideIndicators]="true"
                [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
                <!-- @carouselAnimation -->
                <mat-carousel-slide #matCarouselSlide *ngFor="let slide of randomList; let i = index"
                    [image]="slide.img" overlayColor="#00000040" [hideOverlay]="true">
                    <h1 class="SlideText">{{slide.title}}</h1>
                </mat-carousel-slide>
            </mat-carousel>

            <app-grafico-barras [List]='grafList'></app-grafico-barras>

        </div>
    </div>
</div>

<!-- <ejs-chart #roundcol style='display:block;' [chartArea]='chartArea' [width]='width' align='center' id='column-container'
    [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [title]='title' [tooltip]='tooltip'
    (load)='load($event)' (loaded)='loaded($event)' [legendSettings]='legend' >
    (pointRender)='pointRender($event)'
    <e-series-collection>
        <e-series [dataSource]='data' type='Column' xName='x' yName='y' name='Tiger' width=2 [marker]='marker'
            [cornerRadius]='radius'>
        </e-series>
    </e-series-collection>
</ejs-chart> -->

<!-- <div class="row">
                <div class="col-sm-4">
                    <img class="col-sm-12 about" src="../assets/textImg/About1.png" />
                </div>

                <div class="col-sm-7 bg-ghostwhite">
                    <img class="col-sm-12 popularrecipes" src="../assets/textImg/hot&popularrecipes.png" />
                    <div class="col-sm-4" *ngFor="let item of randomList;">
                        <div class="rndRecipe">
                            <img class="col-sm-12 rndImg"
                                src="https://spoonacular.com/recipeImages/{{item.id}}-556x370.jpg" />
                            <div class="rndTxt">{{item.title}}</div>
                        </div>
                    </div>
                </div>
            </div> -->