<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="row">
                <h1 class="header"> <b class="s color"><< </b> Favorites</h1>
                <div class="col-sm-12 notFound" *ngIf="savedRecipes.numSaved==0">
                    <p>It is empty here.<br>
                        Personalize your cooking experience with your Favorites.</p><br><br>
                    <h3>Already have items saved?</h3>
                    <a class="login" routerLink="/auth/login">Log In</a>
                    <hr>
                    <div>
                        <h2>Heart It.</h2>
                        Store everything you love on one page.
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-4" *ngFor="let item of listSave;">
                        <div class="col-sm-12 saveItem">
                            <a routerLink="/site/showDetails/{{item.Id}}" style="border: none;">
                                <div class="numLikes" title="{{item.AggregateLikes}} peaple like the recipe">
                                    {{item.AggregateLikes}} <span><i class="fa fa-heart"></i></span></div>
                                <img class="col-sm-12 saveImg" src="{{item.Image}}">
                            </a>
                            <div class="col-sm-10 saveTxt">
                                <a routerLink="/site/showDetails/{{item.Id}}" style="border: none;">
                                    {{item.Title}}</a>
                            </div>
                            <span class="col-sm-2 tr"><i class="fa fa-trash-o"
                                    (click)="handleRemove(item.Id)"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>