* {
    color: black;
    box-sizing: border-box;
    text-align: center;
}

.row {
    background-color: #6e6b7b05;
    margin: 10px 20px;
    padding: 20px;
}
.header {
    margin: 30px auto;
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    font-family: "Lobster", serif;
    border-bottom: 0;
    text-decoration: underline 3px lightgray;
}
.header:hover .s{
    color: lightgray;
}
.header:hover{
    text-decoration: underline 3px #E16F26;
}
.content {
    padding-top: 50px !important;
    margin-top: 0 !important;
}
h3 h2 {
    font-weight: 800;
    margin: 10px auto;
}

.login {
    background-color: #E16F26;
    color: white;
    margin: 10px auto;
    padding: 5px 10px;
}

.saveItem{
    background-color: white;
    margin: 0;
    padding: 7px;
    margin: 10px auto;
    height: max-content;
}

.saveTxt{
    position: relative;
    float: left;
    font-size: 16px;
    text-align: left;
    margin: 5px 0px;
    font-weight: bold;
} 

.saveTxt:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: #E16F26;
}

.saveImg{
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
}

.tr {
    display: none;
}

.saveItem:hover .tr {
    float: right;
    font-size: 18px;
    display: block;
    margin: 5px 0px;
    cursor: pointer;
}

.numLikes {
    z-index: 1;
    position: absolute;
    background-color: hsla(0,0%,100%,.4);
    float: right;
    padding: 3px 5px;
    top: 5px;
    right: 5px; 
}

.fa-heart {
    color: #E16F26;
}
.color{
    color: #E16F26;
}