* {
    border: 0;
    background-color: white;
}
.card-body {
    padding: 38px;
    padding-bottom: 0px;
    box-shadow: none;
}
.card h1 {
    margin: 10px auto;
    font-weight: bold;
}
.quili, a {
    color: orange;
}
.t {
    text-align: center;
}
.button-q {
    background-color: orange;
    color: white;
    opacity: 0.6;
    margin: 20px auto;
    width: 80%;
    border-radius: 30px;
}
.form-group {
    margin: 10px auto;
}
.form-control, .input-group .input-group-merge .form-password-toggle {
    background-color: rgb(248, 247, 247);
    box-shadow: none;
    border-radius: 30px;
}
.input-group:focus-within .input-group-append, .custom-control-input {
    border: 0;
}
.div-p, .div-p:focus-within {
    border-radius: 60px;
}
.valid {
    color: orange;
}
@media screen and (max-width:800px) {
    .card-text {
        display: none;
    }
    .card-body {
        padding: 50px 40px;
    }
}