<div class="card-body">
    <a routerLink="/" class="brand-logo">
        <h1 class="brand-text ml-1 quili t">Register</h1>
    </a>

    <h4 class="card-title mb-1 t">Adventure starts here</h4>
    <p class="card-text mb-2 t">Make your app management easy and fun!</p>

    <form class="auth-login-form mt-2" method="POST">
        <div class="form-group">
            <label for="login-email" class="form-label">Email</label>
            <input [(ngModel)]="user.Mail" type="email" class="form-control" id="login-email"
                placeholder="john@example.com" name="email">
        </div>

        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="login-password">Password</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle div-p">
                <input #x [(ngModel)]="user.Password" type="password" class="form-control form-control-merge"
                    id="login-password" placeholder="Enter password" name="pswd">

                <div class="input-group-append" (click)="x.type=x.type=='password'?'text':'password'">
                    <span class="input-group-text cursor-pointer">
                        <i [ngClass]="(x.type=='password')?'fa fa-eye':'fa fa-eye-slash'"></i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="register-privacy-policy" tabindex="4" />
                    <label class="custom-control-label" for="register-privacy-policy">
                        I agree to <a href="javascript:void(0);">privacy policy & terms</a>
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-block button-q" (click)="newUser()">Sign in</button>
        </div>
    </form>

    <p class="text-center mt-2">
        <span>Already have an account?</span>
        <a routerLink="/auth/login">
            <span class="quili"> Sign in instead</span>
        </a>
    </p>
</div>