<!-- [enableAllDayScroll]=true -->
<div class="app-content content ">
  <div class="content-wrapper">
    <div class="content-body">
      <div class="overview-scheduler">
        <section>
          <!-- Main: Content -->
          <div class="sidebar-wrapper">
            <div class="control-section">
              <ejs-schedule #scheduleObj [(currentView)]="currentView" cssClass='schedule-overview' width='100%'
                height='650px' (popupOpen)="onPopupOpen($event)">
                <ng-template #dateHeaderTemplate let-data>
                  <div class="date-text">{{getDateHeaderText(data.date)}}</div>
                </ng-template>
                <ng-template #cellTemplate let-data>
                  <div *ngIf="hasEvent(data.date)" class="templatewrap">
                    <div *ngFor="let item of recipesForDay" style="width: 100%;">
                      <button routerLink="/site/showDetails/{{item.Code}}">
                        <img src="{{item.RecipeImage}}" class="img-responsive" alt="image"
                          style="width: 50px; height: 50px;">
                        <p style="float: right; font-weight: bold;">{{item.RecipeTitle}}</p>
                      </button>
                    </div>
                  </div>
                </ng-template>
                <e-views>
                  <e-view option="Month"></e-view>
                </e-views>
                <ng-template #quickInfoTemplatesHeader let-data>
                  <div class="quick-info-header">
                    <div class="quick-info-header-content" [ngStyle]="getHeaderStyles(data)">
                      <div class="quick-info-title">{{getHeaderTitle(data.data)}}</div>
                    </div>
                  </div>
                </ng-template>
                <ng-template #quickInfoTemplatesContent let-data>
                  <ng-container [ngTemplateOutlet]="cellContent" [ngTemplateOutletContext]="{data:data}"></ng-container>
                </ng-template>
                <ng-template #cellContent let-data="data">
                  <div class="quick-info-content">
                    <div class="e-cell-content">
                      <div class="content-area">
                        <input id="search" class="e-input" type="search" placeholder="Search"
                          (ngModelChange)="searchRecipe($event)" [(ngModel)]="searchWord" />
                      </div>
                      <div class="row">
                        <div *ngFor="let item of listRecipesBySearch" style="margin: 5px;">
                          <button routerLink="/site/showDetails/{{item.id}}">
                            <img src="{{item.image}}" class="img-responsive" style="height:80px; width: 80px;"></button>
                          <div style="float: inline-end;">
                            <h3>{{item.title}}</h3>
                          </div>
                          <button (click)="chooseRecipe(item.id)">&#10011;</button>
                        </div>
                      </div>
                      <div *ngIf="newRecipe.RecipeTitle" class="content-area">
                        <label>Title</label>
                        <input id="title" class="e-input" type="text" placeholder="Title" style="font-weight: bold;"
                          [(ngModel)]="newRecipe.RecipeTitle" />
                        <img src="{{newRecipe.RecipeImage}}" />
                      </div>
                      <div class="content-area">
                        <label>Start Date</label>
                        <input id="date" class="e-input" type="date" [value]="newRecipe.Date | date:'yyyy-MM-dd'"
                          (input)="newRecipe.Date=parseDate($event.target.value)" />
                      </div>
                      <div class="content-area">
                        <label>Repeat</label>
                        <select id="status" class="e-float-input e-input-group"
                          [(ngModel)]="newRecipe.SchedulingStatuse">
                          <option value="1">Never</option>
                          <option value="2">Weekly</option>
                          <option value="3">Monthly</option>
                          <option value="4">Yearly</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template #quickInfoTemplatesFooter let-data>
                  <ng-container [ngTemplateOutlet]="cellFooter" [ngTemplateOutletContext]="{data:data}"></ng-container>
                </ng-template>
                <ng-template #cellFooter let-data="data">
                  <div class="e-cell-footer">
                    <button ejs-button id="save" cssClass="e-flat" [isPrimary]="true"
                      (click)="buttonClickActions($event)">Save</button>
                  </div>
                </ng-template>
              </ejs-schedule>
            </div>
          </div>
          <!-- Main: Content -->
        </section>
      </div>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->