<div class="app-content content ">
  <div class="content-wrapper">
    <div class="content-body">
      <div class="overview-scheduler">
        <section>
          <!-- Main: Content -->
          <div class="sidebar-wrapper">
            <div class="control-section">
              <ejs-schedule #scheduleObj [(currentView)]="currentView" cssClass='schedule-overview' width='100%'
                height='650px' (popupOpen)="onPopupOpen($event)" (popupClose)="onPopupClose($event)"
                (actionComplete)="onActionComplete($event)" (select)="onSelect($event)" [rowAutoHeight]="rowAutoHeight">
                <ng-template #cellTemplate let-data>
                  <div class="e-work-cells" style="background-color: inherit; width: auto; height: auto; border: none;">
                    <div class="div-recipe" *ngIf="getRecipesForDay(data.date) as variable">
                      <a routerLink="/site/showDetails/{{recipesForDay[0].RecipeId}}" style="border: none;">
                        <img class="img" src="{{recipesForDay[0].RecipeImage}}" alt="image">
                        <p class="p-title">{{recipesForDay[0].RecipeTitle}}</p>
                      </a>
                      <button class="bd" (click)="delete(variable[0].Code)"><span
                          class="glyphicon">&#xe020;</span></button>
                      <button *ngIf="numberRecipesForDay>1" id="more"
                        (click)="showRecipesPopup(data.date, $event)">+{{numberRecipesForDay - 1}} <span
                          id="span-more">more</span></button>
                    </div>
                  </div>
                  <button ejs-button id="addButton">+</button>
                </ng-template>
                <e-views>
                  <e-view option="Month"></e-view>
                </e-views>
                <ng-template #quickInfoTemplatesHeader let-data>
                  <div class="quick-info-header">
                    <div class="quick-info-header-content" [ngStyle]="getHeaderStyles(data)">
                      <div class="quick-info-title">{{getHeaderTitle(data)}}</div>
                    </div>
                    <div class="e-header-icon-wrapper">
                      <button class="e-close" title="Close"></button>
                    </div>
                  </div>
                </ng-template>
                <ng-template #quickInfoTemplatesContent let-data>
                  <ng-container [ngTemplateOutlet]="cellContent" [ngTemplateOutletContext]="{data:data}">
                  </ng-container>
                </ng-template>
                <ng-template #cellContent let-data="data">
                  <div class="quick-info-content">
                    <div class="e-cell-content">
                      <div class="content-area">
                        <input class="e-input" type="search" placeholder="Search" (ngModelChange)="searchRecipe($event)"
                          [(ngModel)]="searchWord" />
                        <!-- <span class="e-icons e-search" style="margin-bottom: 0px;"></span> -->
                        <!-- </div> -->
                      </div>
                      <div class="row" *ngIf="listRecipesBySearch"
                        style="height: 300px; width: 100%; overflow-x: hidden;">
                        <div class="col-md-12" *ngFor="let item of listRecipesBySearch"
                          style="margin: 5px; border: black 0.5px;">
                          <button (click)="chooseRecipe(item.id)" style="border: none; width: 100%;">
                            <button routerLink="/site/showDetails/{{item.id}}"
                              style="border: hidden; float: left; margin: 0px;">
                              <img src="{{item.image}}" class="img-responsive" style="height:80px; width: 80px;">
                            </button>
                            <h4 style="display: inline; margin: 2px;">{{item.title}}</h4>
                          </button>
                        </div>
                      </div>
                      <div *ngIf="newRecipe.RecipeTitle" class="content-area">
                        <label>Title</label>
                        <input id="title" class="e-input" type="text" placeholder="Title" style="font-weight: bold;"
                          [(ngModel)]="newRecipe.RecipeTitle" />
                        <button routerLink="/site/showDetails/{{newRecipe.RecipeId}}" style="border: none;"><img
                            src="{{newRecipe.RecipeImage}}" /></button>
                      </div>
                      <div class="content-area">
                        <label>Start Date</label>
                        <input id="date" class="e-input" type="date" [value]="newRecipe.Date | date:'yyyy-MM-dd'"
                          (input)="newRecipe.Date=parseDate($event.target.value)" />
                      </div>
                      <div class="content-area">
                        <label>Repeat</label>
                        <select id="status" class="e-float-input e-input-group"
                          [(ngModel)]="newRecipe.SchedulingStatuse">
                          <option value="1">Never</option>
                          <option value="2">Weekly</option>
                          <option value="3">Monthly</option>
                          <!-- <option value="4">Yearly</option> -->
                        </select>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template #quickInfoTemplatesFooter let-data>
                  <ng-container [ngTemplateOutlet]="cellFooter" [ngTemplateOutletContext]="{data:data}">
                  </ng-container>
                </ng-template>
                <ng-template #cellFooter let-data="data">
                  <div class="e-cell-footer">
                    <button ejs-button id="save" cssClass="e-flat buttons" [isPrimary]="true"
                      (click)="buttonClickActions($event)">Save</button>
                  </div>
                </ng-template>
              </ejs-schedule>
            </div>
          </div>
          <!-- Main: Content -->
        </section>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showOrHidePopup" class="e-more-popup-wrapper e-lib e-popup e-control e-popup-open"
  [ngStyle]="styleMorePopup">
  <div class="e-more-event-popup">
    <div class="e-more-event-header">
      <div class="e-more-event-close e-control e-btn e-lib e-round e-icon-btn" title="Close" tabindex="0"
        (click)="hideRecipesPopup()">
        <span class="e-btn-icon e-icons e-close-icon" style="font-weight: bold;">&#x2716;</span>
      </div>
      <div class="e-more-event-date-header" style="text-align: center;">
        <div class="e-header-day">{{currentDay | date:'EEEE, MMMM d, y'}}</div>
      </div>
    </div>
    <div *ngFor="let item of getRecipesForDay(currentDay)" style="position: relative; width: 100%; margin: 2px;">
      <button routerLink="/site/showDetails/{{item.RecipeId}}" style="border: none;">
        <img src="{{item.RecipeImage}}" class="img-responsive" alt="image"
          style="width: 40px; height: 40px; float: left; margin: 2px 0px;">
        <p style="font-weight: bold; color: black; width: 155px; float: left;
            white-space: nowrap;
            overflow: hidden;text-overflow: ellipsis;">{{item.RecipeTitle}}</p>
      </button>
      <div style="position: absolute; right: 15px; bottom: 3px; font: inherit;">
        <button ejs-button id="delete" cssClass="e-flat" (click)="delete(item.Code)" style="border: none;"><span
            class="glyphicon">&#xe020;</span></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="deletePopup" class="e-dlg-container e-dlg-center-center"
  style="z-index: 1004; display: flex; position: fixed;">
  <div id="QuickDialog" class="e-control e-dialog e-lib e-quick-dialog e-dlg-modal e-popup e-popup-open" role="dialog"
    style="max-height: 422px; z-index: 1004; left: 0px; top: 0px; position: relative; width: auto;"
    aria-describedby="QuickDialog_dialog-content" aria-modal="true" aria-labelledby="QuickDialog" tabindex="-1">
    <div class="e-dlg-header-content" id="QuickDialog_dialog-header">
      <div class="e-dlg-closeicon-btn e-control e-btn e-lib e-flat e-icon-btn" title="Close"
        (click)="deletePopup=!deletePopup"><span class="e-btn-icon e-icon-dlg-close e-icons"></span></div>
      <div class="e-dlg-header" id="QuickDialog_title">Delete Recipe</div>
    </div>
    <div *ngIf="deleteOptions==1" class="e-dlg-content">Are you sure you want to delete this event?</div>
    <div *ngIf="deleteOptions!=1"  class="e-dlg-content">How would you like to change the recipe in the series?</div>
    <div class="e-footer-content">
      <button ejs-button id="delete" cssClass="e-flat buttons" [isPrimary]="true" (click)="buttonClickActions($event)">Delete Recipe</button>
      <button *ngIf="deleteOptions==3" ejs-button id="delete" cssClass="e-flat buttons" (click)="buttonClickActions($event)">Following Recipes</button>
      <button *ngIf="deleteOptions!=1" ejs-button id="delete" cssClass="e-flat buttons" (click)="buttonClickActions($event)">Entire Series</button>
    </div>
  </div>
  <div class="e-dlg-overlay" style="z-index: 1003; display: block; position: absolute;"></div>
</div>